body{
    background: rgb(55, 55, 213);
    font: normal 14pt Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: white;
}

section{
    background: white;
    border-radius: 8px;
    box-shadow: 3px 1px 12px rgba(0, 0, 0, 0.40);

    padding: 15px;
    width: 400px;
    margin: auto;
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}

/* image{
    width: 100px; /* Defina a largura desejada */
    height: 100px; /* Defina a altura desejada (deve ser igual à largura para criar um círculo) */
    border-radius: 50%; /* Define o raio de borda como metade da largura/altura para criar um círculo */
    object-fit: cover; /* Isso garante que a imagem preencha o círculo */
} */